/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  grid-area: Header;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0c4fb4;
  color: white;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: aliceblue;
  margin-top: 0em;
}

.two-column {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto auto; 
  gap: 10px; 
  grid-template-areas: 
    "Header Header Header"
    "Body Body Image"
    "Footer Footer Footer"; 
}

.skill_list {
  text-align: justify;
}

#main {
padding-top: 1em;
text-align: center;
background-color: rgb(245, 248, 250);
grid-area: Body;
}

.logo {
  height:2em;
  padding:.25em;
}

footer {
  grid-area: Footer;
  text-align: center;
}

#headshot {
  grid-area: Image;
  border-radius: 25%;
}

#buster {
  border-radius: 10%;
}