/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0c4fb4;
  color: white;
}

footer {
  text-align: center;
  flex-shrink: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-top: 0em;
}

.skill_list {
  text-align: justify;
}

#main {
padding-top: 1em;
text-align: center;
background-color: rgb(245, 248, 250);
flex: 1 0 auto;
}

#linkedin_logo {
  height:2em;
}